body {
  background-color: rgb(196, 234, 202);
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}
img {
  height: 150px;
  border-radius: 30%;
}
h1 {
  color: burlywood;
}
h3 {
  color: burlywood;
}